html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#preload
{
    background: url('images/publicationsB.svg'), url('images/instagramB.svg'), url('images/googleB.svg'), url('images/keybaseB.svg'), url('images/facebookB.svg'), url('images/twitterB.svg'), url('images/githubB.svg'), url('images/linksB.svg');

    height: 0;
    width: 0;
    visibility: hidden;
}

#background
{
    clear: both;

    width: 100%;
    height: 100%;
}

#text
{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background: url('images/textA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#icons
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#google
{
    background: url('images/googleA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#google:hover
{
    cursor: pointer;
    background: url('images/googleB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#facebook
{
    background: url('images/facebookA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#facebook:hover
{
    cursor: pointer;
    background: url('images/facebookB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#twitter
{
    background: url('images/twitterA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#twitter:hover
{
    cursor: pointer;
    background: url('images/twitterB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#links
{
    background: url('images/linksA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#links:hover
{
    cursor: pointer;
    background: url('images/linksB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#github
{
    background: url('images/githubA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#github:hover
{
    cursor: pointer;
    background: url('images/githubB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#keybase
{
    background: url('images/keybaseA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#keybase:hover
{
    cursor: pointer;
    background: url('images/keybaseB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#instagram
{
    background: url('images/instagramA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#instagram:hover
{
    cursor: pointer;
    background: url('images/instagramB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#publications
{
    cursor: pointer;
    background: url('images/publicationsA.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
    float: left;
}
#publications:hover
{
    cursor: pointer;
    background: url('images/publicationsB.svg') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#backer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url('images/circle.svg') no-repeat;
    background-size: contain;

	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=90);

	/* Older than Firefox 0.9 */
	-moz-opacity:0.9;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.9;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.9;
}

.line {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(255,255,255,1);
}
